{% extends 'base.html' %}
{% load bootstrap3%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-success">Update Card</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock content %}